:root {
    --background-dark: #202020;
}

*{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--background-dark);
}

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 35vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
