/*-----------------------------------------------------*/
/* VARIABLES */
/*-----------------------------------------------------*/
:root {
  --background-dark: #202020;
  --background-medium-red: #d11d1d;
  --background-dark-red: #640000;
  --background-darkest-red: #3a0000;
  --text-gray: #595959;
  --check-green: #00bf63;
  --check-green-dark: #00a355;
}

/*-----------------------------------------------------*/
/* CADASTRAR CLIENTES - Título */
/*-----------------------------------------------------*/

#cadastrar-clientes-title {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

/*-----------------------------------------------------*/
/* CADASTRAR CLIENTES - Formulário Base */
/*-----------------------------------------------------*/

.cadastrar-clientes-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  justify-content: space-between;

}

/*-----------------------------------------------------*/
/* CADASTRAR CLIENTES - Linha 1 */
/*-----------------------------------------------------*/

#row-1 {
  display: flex;
  gap: 1rem;

}

#row-1 input {
  flex: 1;
  background-color: transparent;
  border: 1px solid var(--text-gray);
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
}

/*-----------------------------------------------------*/
/* CADASTRAR CLIENTES - Linha 2 */
/*-----------------------------------------------------*/

#row-2 {
  display: flex;
  gap: 1rem;

}

#row-2 input {
  flex: 1;
  background-color: transparent;
  border: 1px solid var(--text-gray);
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
}

/*-----------------------------------------------------*/
/* CADASTRAR CLIENTES - Linha 3 */
/*-----------------------------------------------------*/

#row-3 {
  display: flex;
  gap: 1rem;

}

#row-3 input {
  flex: 1;
  background-color: transparent;
  border: 1px solid var(--text-gray);
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
}

/*-----------------------------------------------------*/
/* CADASTRAR CLIENTES - Linha 4 */
/*-----------------------------------------------------*/

#row-4 {
  display: flex;
  gap: 1rem;

}

#row-4 input {
  flex: 1;
  background-color: transparent;
  border: 1px solid var(--text-gray);
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
}

/*-----------------------------------------------------*/
/* CADASTRAR CLIENTES - Linha 5 (BOTÃO) */
/*-----------------------------------------------------*/

#row-5 {
  display: flex;
  gap: 1rem;
  position: relative;

}

#row-5 button {
  flex: 1;
  background-color: var(--check-green);
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 3rem;
  font-size: 1.2rem;

  &:hover {
    opacity: 0.8;
  }
}

#row-5 span {
  position: absolute;
  right: 15px;
  top: calc(50% + 1.5rem);
  transform: translateY(-50%);
  color: var(--check-green-dark);
  font-size: 1.2rem;

}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}